<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Taxa de Juros</th>
        </tr>
        {{#each produtos as |produto|}}
        <tr>
            <th>{{produto.id}}</th>
            <th>{{produto.nome}}</th>
            <th>{{produto.taxaRentabilidade}}</th>
        </tr>
        {{/each}}
    </table>
</body>
</html>